<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<div class="input">
  <button class="value" (click)="verCuenta()">
    <span class="material-symbols-outlined">person</span>
    Cuenta
  </button>
  <button class="value" routerLink="genres">
    <span class="material-symbols-outlined">headphones</span>
    Generos
  </button>
  <button class="value" (click)="verVotos()">
    <span class="material-symbols-outlined">thumb_up</span>
    Mis votos
  </button>
  <button class="value" id="logout" (click)="cerrarSesion()">
    <span class="material-symbols-outlined">logout</span>
    Cerrar sesion
  </button>
</div>
