<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Contact&aacute;ctanos. </title>
    <link href = "/css/contactStyle.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?  family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">

  </head> 
  
  <body>
   <!-------------------- 
  BARRA DE NAVEGACION 
  ----------------------->
  <header class='lg_header' id='lg-header'>
    <div class="interior">
      <a class="logo" href="/wiki/inicio">
        <img alt="logo" src="/images/logo1.png">
      </a>
      <nav class="navegacion">
        <ul>
          <li><a href="/wiki/inicio">Inicio </a></li>
          <li class="submenu">
            <a href="/wiki/acerca-de/requerimientos">Acerca del Proyecto</a>
            <ul class="hijos">
              <li><a href="/wiki/acerca-de/requerimientos">Requerimientos</a></li>
              <li><a href="/wiki/acerca-de/arquitectura">Arquitectura</a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="/wiki/implementacion/desarrollo">Implementacion</a>
            <ul class="hijos">
              <li><a href="/wiki/implementacion/desarrollo">Desarrollo</a></li>
              <li><a href="/wiki/implementacion/pruebas">Pruebas</a></li>
              <li><a href="/wiki/implementacion/despliegue">Despliegue</a></li>
            </ul>
          </li>
          <li><a href="/wiki/contactenos">Contactenos</a></li>
        </ul>
      </nav>
    </div>
  </header>
    
    <div id = "container">
      <h1> Cont&aacute;ctanos</h1>
      <p> Si deseas contactarnos para responder alguna duda sobre el proyecto, realizalo a trav&eacute;s de este medio.</p>

      <div class = "caja-contacto">
        
        <div class = "contacto-parteIzquierda">
          <h3> Env&iacute;a tu duda. </h3>
          <form onsubmit="return validarFormulario()" action="https://formsubmit.co/loscaballosgalacticos@gmail.com" method="POST">
            <div class = "input-row">
              
              <div class = "input-group">
                <label> Nombre </label>
                <input type = "text" id = "nombre" placeholder="Nombre." name = "Nombre" required> 
              </div>

              <div class = "input-group">
                <label> Edad </label>
                <input type = "number" id = "Edad" placeholder="Edad" name = "Edad" required> 
              </div>
              
            </div>


            <div class = "input-row">
              
              <div class = "input-group">
                <label> Email </label>
                <input type = "text" id = "correo" placeholder="Correo." name = "Correo" required> 
              </div>

              <div class = "input-group">
                <label> Asunto </label>
                <input type = "text" id = "asunto" placeholder="Asunto."name = "Asunto" required> 
              </div>
              
            </div>

            <label> Mensaje:. </label>
           <textarea rows="5" placeholder="Mensaje" id="mensaje" name="Mensaje" required></textarea>
          <button type = "submit"> ENVIAR </button>
          
          <div id = "error-message"> </div>

          <input type="hidden" name = "_next" value="https://wikigroup--hot-horses.repl.co/">
          <input type="hidden" name = "_captcha" value = "false">
            
          </form>
          
          
        </div>
        
        
        <div class = "contacto-parteDerecha">
          <h3> Llega a nosotros a trav&eacute;s de nuestros datos de contacto. </h3>

          <table>
            <tr>
              <td> Email </td>
              <td> loscaballosgalacticos@gmail.com</td>
            </tr>
            
            <tr>
              <td> Telef&oacute;no </td>
              <td> (+57) 321 966 8133 - Juan Francisco Ram&iacute;rez <br>
                   (+57) 302 247 2264 - Esteban Salazar <br>
                   (+57) 322 841 5701 - Javier Moyano
              </td>
            </tr>

            <tr>
              <td> Direcci&oacute;n  </td>
              <td> Cra. 7 No. 40-62 Bogot&aacute;, Colombia. <br> 
                Ed. Jos&eacute; Gabriel Maldonado - Piso 10 </td>
            </tr>
            
          </table>
          
        </div>
      </div>
    
    </div>
     <script src='/js/scriptFormularioContacto.js'></script>
  </body>
</html>