<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Contact&aacute;ctanos. </title>
    <link href="/css/contactStyle.css" rel="stylesheet" type="text/css">

</head>

<body>
<header class='lg_header' id='lg-header'>
    <div th:replace="navegacion.html :: barra"></div>
</header>

<div id="container">
    <h1> Cont&aacute;ctanos</h1>
    <p> Si deseas contactarnos para responder alguna duda sobre el proyecto, realizalo a trav&eacute;s de este
        medio.</p>

    <div class="caja-contacto">

        <div class="contacto-parteIzquierda">
            <h3> Env&iacute;a tu duda. </h3>
            <form id="contact-form">
                <div class="input-row">

                    <div class="input-group">
                        <label> Nombre </label>
                        <input type="text" id="nombre" placeholder="Nombre." name="Nombre" required>
                    </div>

                    <div class="input-group">
                        <label> Edad </label>
                        <input type="number" id="Edad" placeholder="Edad" name="Edad" required>
                    </div>

                </div>


                <div class="input-row">

                    <div class="input-group">
                        <label> Email </label>
                        <input type="text" id="correo" placeholder="Correo." name="Correo" required>
                    </div>

                    <div class="input-group">
                        <label> Asunto </label>
                        <input type="text" id="asunto" placeholder="Asunto." name="Asunto" required>
                    </div>

                </div>

                <label> Mensaje:. </label>
                <textarea rows="5" placeholder="Mensaje" id="mensaje" name="Mensaje" required></textarea>
                <button type="submit"> ENVIAR</button>

                <div id="error-message"></div>
                <div id="success-message"></div>

                <input type="hidden" name="_next" value="/wiki/inicio">
                <input type="hidden" name="_captcha" value="false">

            </form>


        </div>


        <div class="contacto-parteDerecha">
            <h3> Llega a nosotros a trav&eacute;s de nuestros datos de contacto. </h3>

            <table>
                <tr>
                    <td> Email</td>
                    <td> loscaballosgalacticos@gmail.com</td>
                </tr>

                <tr>
                    <td> Telef&oacute;no</td>
                    <td> (+57) 321 966 8133 - Juan Francisco Ram&iacute;rez <br>
                        (+57) 302 247 2264 - Esteban Salazar <br>
                        (+57) 322 841 5701 - Javier Moyano
                    </td>
                </tr>

                <tr>
                    <td> Direcci&oacute;n</td>
                    <td> Cra. 7 No. 40-62 Bogot&aacute;, Colombia. <br>
                        Ed. Jos&eacute; Gabriel Maldonado - Piso 10
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>
<script src='/js/scriptFormularioContacto.js'></script>
</body>
</html>