<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>WikiGroup</title>
  <link href = "/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-------------------- 
  BARRA DE NAVEGACION 
  ----------------------->
  <header class='lg_header' id='lg-header'>
    <div th:replace="navegacion.html :: barra"></div>
  </header>

  <!-------------------- 
  DESCRIPCION DEL GRUPO
  ----------------------->
  <div class="cuerpo">
    <h1 class='titulo_principal'>LOS GAL&Aacute;CTICOS VII</h1>
    <br>

    <div class="imagenTexto">
      <img src="/images/caballos.jpeg" alt="equipo" width="50%" height="50%" />
      <div class="borde">
        <p class='claseP_DescripGeneral'>
          Somos un grupo conformado por tres compañeros de universidad y a la vez amigos para la vida, estudiantes de
          ingenier&iacute;a de sistemas en la Pontificia Universidad Javeriana de la ciudad de Bogot&aacute;, nos
          encotramos cursando actualmente sexto semestre de nuestro programa ac&aacute;demico y hemos solidificado un
          gran y c&oacute;modo equipo de trabajo.
          <br><br>
          Nos encantan las ciencias de la computaci&oacute;n, estudiamos su impacto en el d&iacute;a a d&iacute;a,
          ybuscamos destacar en cada proyecto que emprendemos juntos. Adem&aacute;s del estudio y nuestra
          formaci&oacute;n &iacute;ntegra, tenemos otras pasiones e intereses, c&oacute;mo lo son el futb&oacute;l y las
          aventuras.
        </p>
      </div>
    </div>
    <br>

    <!-------------------- 
  LISTADO DE INTEGRANTES 
  ----------------------->
    <h2 class='tituloMedio'> Listado de Integrantes </h2>

    <div class="integrantes-lista">
      <div class='integrante-lista selected' id="1">
        <img src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez" />
        <p>Juan Francisco Ram&iacute;rez Escobar</p>
      </div>
      <div class='integrante-lista' id="2">
        <img src="/images/estebanPP.jpg" alt="Foto Esteban Salazar" />
        <p>Esteban Salazar Arbel&aacute;ez</p>
      </div>
      <div class='integrante-lista' id="3">
        <img src="/images/moyisPP.jpg" alt="Foto Javier Moyano" />
        <p>Javier Alejandro Moyano Cipamocha</p>
      </div>
    </div>


    <!-- 
    JUAN FRANCISCO RAMIREZ 
    -->
    <div class="integrante selected" id="1-detalle">
      <h3 class='classTituloSecundarioAzul'>Juan Francisco Ram&iacute;rez Escobar </h3>
      <!-- Biografia -->
      <div class="seccion">
        <div class="imagenTexto">
          <p class='classP_DescripcionPerfiles'>
            Estudiante de sexto semestre de ingenier&iacute;a de sistemas y ciencia de datos en la Pontificia
            Universidad
            Javeriana de Bogot&aacute; D.C. Apasionado por la programaci&oacute;n y el aprendizaje constante sobre
            tem&aacute;ticas y tendencias relacionadas con la tecnolog&iacute;a.
            <br><br>
            Desde sus inicios en la vida universitaria, ha estado demasiado interesado en pertenecer a grupos
            estudiantiles
            que compartan su inter&eacute;s por las ciencias de la computaci&oacute;n en conjunto con el deseo de
            colaborar
            en
            pro a buenos proyectos, raz&oacute;n por la cual, desde enero de 2021, ha sido parte activa del
            Cap&iacute;tulo
            Javeriano ACM de la universidad.
            <br><br>
            Las expectativas para el proyecto a realizar en la asignatura de desarrollo web son demasiado altas, ya que,
            adem&aacute;s de tener amplia experiencia en este tipo de entregas con el grupo de trabajo; se despierta un
            inter&eacute;s especial en aplicar los contenidos aprendidos a lo largo de clase de una manera
            pr&aacute;ctica
            y
            casi que profesional en un &aacute;rea personalmente nueva en cuesti&oacute;n de aprendizaje.
          </p>
          <img class='imagen, imagenCenter' , src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez" />
        </div>
      </div>
      <!-- Rol de proyecto -->
      <div class="seccion">
        <h3 class='classTituloSecundarioAmarillo'> Rol asumido para el proyecto </h3>
        <br>
        <div class="imagenTexto">
          <img class='imagenCenterBlue' , src="/images/planeacionLider.jpg" alt="Foto Plan Lider" />
          <div>
            <p class='classP_DescripcionPerfiles'>
              En el presente proyecto de desarrollo web, Juan Francisco Ram&iacute;rez Escobar, asume el rol de
              l&iacute;der
              de planeaci&oacute;n. Lo cu&aacute;l lo lleva a cumplir con las siguientes caracter&iacute;sticas a lo
              largo
              del mismo:
            </p>
            <br>
            <ul>
              <li class='classLiFormato'> Definici&oacute;n de objetivos y alcance. </li>
              <li class='classLiFormato'> Planificaci&oacute;n de actividades. </li>
              <li class='classLiFormato'> Gesti&oacute;n de riesgos. </li>
              <li class='classLiFormato'> Coordinaci&oacute;n del equipo. </li>
              <li class='classLiFormato'> Seguimiento y control. </li>
              <li class='classLiFormato'> Evaluaci&oacute;n y mejora. </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Lenguajes de programacion -->
      <div class="seccion">
        <h3 class="classTituloSecundarioAmarillo"> Lenguajes de Programaci&oacute;n manejados</h3>
        <br>
        <div class="carrusel">
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/cpp-logo.png" alt="Logo C++" />
            <p> C++ </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/Java-Logo.png" alt="Logo Java" />
            <p> Java </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/sql.png" alt="Logo SQL" />
            <p> SQL </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/mongo.png" alt="Logo Mongo" />
            <p> Mongo </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/html.jpg" alt="Logo HTML" />
            <p> HTML </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/kotlin.jpg" alt="Logo Kotlin" />
            <p> Kotlin </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    ESTEBAN SALAZAR
    -->
    <div class="integrante" id="2-detalle">
      <h3 class='classTituloSecundarioAzul'>Esteban Salazar Arbel&aacute;ez</h3>
      <!-- Biografia -->
      <div class="seccion">
        <div class="imagenTexto">
          <p class='classP_DescripcionPerfiles'>
            Estudiante de sexto semestre de Ingeniería de Sistemas y Ciencia de datos en la Pontificia Universidad
            Javeriana. Nací en Medellín pero llevo en Bogotá toda mi vida. Desde pequeño soy un apasionado por las
            matemáticas, el pensamiento lógico y la resolución de problemas, pasión que tengo el gusto de aplicar en la
            programación.
            <br><br>
            Comparto mi interés por las ciencias de la computación en el grupo estudiantil ACM, en donde siendo parte de
            la junta directiva coordino y realizo proyectos que me permiten compartir mis conocimientos con demás
            miembros de la comunidad educativa.
            <br><br>
            Me gusta aprender cosas nuevas, es por esto que tengo grandes expectativas en mis años venideros y espero
            demostrar y extender mis capacidades en cada proyecto que realizo junto a mis compañeros.
          </p>
          <img class='imagen, imagenCenter' , src="/images/estebanPP.jpg" alt="Foto Esteban Salazar" />
        </div>
      </div>

      <!-- Rol de proyecto -->
      <div class="seccion">
        <h3 class='classTituloSecundarioAmarillo'> Rol asumido para el proyecto </h3>
        <br>
        <div class="imagenTexto">
          <img class='imagenCenterBlue' , src="/images/liderTecnico.png" alt="Foto Lider Tecnico" />
          <div>
            <p class='classP_DescripcionPerfiles'>
              En el presente proyecto de desarrollo web, Esteban Salazar Arbel&aacute;ez, asume el rol de l&iacute;der
              t&eacute;cnico.
              Lo cu&aacute;l lo lleva a cumplir con las siguientes caracter&iacute;sticas a lo largo del mismo:
            </p>
            <br>
            <ul>
              <li class='classLiFormato'> Definici&oacute;n de Arquitectura y estructura t&eacute;cnica. </li>
              <li class='classLiFormato'> Liderazgo del equipo t&eacute;cnico. </li>
              <li class='classLiFormato'> Lider en el proceso de desarrollo y codificaci&oacute;n. </li>
              <li class='classLiFormato'> Gesti&oacute;n de calidad. </li>
              <li class='classLiFormato'> Resoluci&oacute;n de problemas de tipo t&eacute;cnico. </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Lenguajes de programacion -->
      <div class="seccion">
        <h3 class="classTituloSecundarioAmarillo"> Lenguajes de Programaci&oacute;n manejados</h3>
        <br>
        <div class="carrusel">
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/c.png" alt="Logo C" />
            <p> C </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/cpp-logo.png" alt="Logo C++" />
            <p> C++ </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/Java-Logo.png" alt="Logo Java" />
            <p> Java </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/kotlin.jpg" alt="Logo Kotlin" />
            <p> Kotlin </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/js.png" alt="Logo JS" />
            <p> JavaScript </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/html.jpg" alt="Logo HTML" />
            <p> HTML </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 
    ALEJANDRO MOYANO 
    -->
    <div class="integrante" id="3-detalle">
      <h3 class='classTituloSecundarioAzul'>Javier Alejandro Moyano Cipamocha </h3>
      <!-- Biografia -->
      <div class="seccion">
        <div class="imagenTexto">
          <p class='classP_DescripcionPerfiles'>
            Soy Alejandro Moyano, estudiante de Ingenier&iacute;a de Sistemas en la Pontificia Universidad Javeriana. Mi
            pasi&oacute;n por la tecnolog&iacute;a y la resoluci&oacute;n de problemas me ha llevado a explorar este
            mundo
            del desarrollo y la planificaci&oacute;n de proyectos.
            <br>
            Desde que comenc&eacute; mi carrera, he sentido un profundo inter&eacute;s por la creaci&oacute;n de
            soluciones tecnol&oacute;gicas que tengan un impacto real en la sociedad. Me emociona trabajar en proyectos
            que requieren una combinaci&oacute;n de habilidades t&eacute;cnicas, creatividad y una comprensi&oacute;n
            profunda de las necesidades de los usuarios. Mi etapa en la Pontificia Universidad Javeriana me ha brindado
            una base s&oacute;lida en diferentes &aacute;reas, pero m&aacute;s all&aacute; de la educaci&oacute;n he
            tenido bastante acompañamiento y apoyo por parte de mi grupo de trabajo.
          </p>
          <img class='imagen, imagenCenter' , src="/images/moyisPP.jpg" alt="Foto Javier Moyano" />
        </div>
      </div>

      <!-- Rol de proyecto -->
      <div class="seccion">
        <h3 class='classTituloSecundarioAmarillo'> Rol asumido para el proyecto </h3>
        <br>
        <div class="imagenTexto">
          <img class='imagenCenterBlue' , src="/images/testSoftware.jpg" alt="Foto Lider Pruebas" />
          <div>
            <p class='classP_DescripcionPerfiles'>
              En el presente proyecto de desarrollo web, Javier Alejandro Moyano, asume el rol de l&iacute;der de
              pruebas.
              Lo cu&aacute;l lo lleva a cumplir con las siguientes caracter&iacute;sticas a lo largo del mismo:
            </p>
            <br>
            <ul>
              <li class='classLiFormato'> Planificaci&oacute;n de pruebas </li>
              <li class='classLiFormato'> Mejora Continua </li>
              <li class='classLiFormato'> Ejecuci&oacute;n de pruebas </li>
              <li class='classLiFormato'> Colaboraci&oacute;n con equipo </li>
              <li class='classLiFormato'> Evaluación de rendimientos de proyecto y grupo </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Lenguajes de programacion -->
      <div class="seccion">
        <h3 class="classTituloSecundarioAmarillo"> Lenguajes de Programaci&oacute;n manejados</h3>
        <br>
        <div class="carrusel">
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/cpp-logo.png" alt="Logo C++" />
            <p> C++ </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/Java-Logo.png" alt="Logo Java" />
            <p> Java </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/sql.png" alt="Logo SQL" />
            <p> SQL </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/html.jpg" alt="Logo HTML" />
            <p> HTML </p>
          </div>
          <div class="elementoCarrusel"> <img src="/images/imgLenguajes/kotlin.jpg" alt="Logo Kotlin" />
            <p> Kotlin </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src='/js/scriptCarrusel.js'></script>
</body>

</html>