<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pruebas</title>
    <link href="/css/arquitectura_requerimientos_despliegue.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?  family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
<!--------------------
BARRA DE NAVEGACION
----------------------->
<header class='lg_header' id='lg-header'>
    <div class="interior">
        <a class="logo" href="/wiki/inicio">
            <img alt="logo" src="/images/logo1.png">
        </a>
        <nav class="navegacion">
            <ul>
                <li><a href="/wiki/inicio">Inicio </a></li>
                <li class="submenu">
                    <a href="/wiki/acerca-de/requerimientos">Acerca del Proyecto</a>
                    <ul class="hijos">
                        <li><a href="/wiki/acerca-de/requerimientos">Requerimientos</a></li>
                        <li><a href="/wiki/acerca-de/arquitectura">Arquitectura</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="/wiki/implementacion/desarrollo">Implementacion</a>
                    <ul class="hijos">
                        <li><a href="/wiki/implementacion/desarrollo">Desarrollo</a></li>
                        <li><a href="/wiki/implementacion/pruebas">Pruebas</a></li>
                        <li><a href="/wiki/implementacion/despliegue">Despliegue</a></li>
                    </ul>
                </li>
                <li><a href="/wiki/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="cuerpo">
    <!-- PROTOCOLO DE PRUEBAS -->
    <h2 class="tituloMedioB"> Pr&oacute;tocolo de pruebas</h2>
    <div class="seccion">
        <div class="">
            <div>
                <p>
                    Las pruebas desempeñan un papel esencial en el desarrollo de software al proporcionar una serie de
                    beneficios clave. En primer lugar, ayudan a detectar errores de manera temprana, lo que evita
                    problemas costosos m&aacute;s adelante en el proyecto. Adem&aacute;s, aseguran que el software
                    cumpla con los
                    requisitos establecidos, mejoran la confiabilidad, reducen los costos a largo plazo y aumentan la
                    productividad de los desarrolladores.
                </p>
                <p>
                    Adem&aacute;s de estos aspectos t&eacute;cnicos, las pruebas tambi&eacute;n fomentan la colaboraci&oacute;n
                    dentro del equipo de
                    desarrollo, de este modo son fundamentales en pro de mejorar la
                    experiencia del usuario al garantizar la calidad y usabilidad del software, lo que a su vez influye
                    en la satisfacci&oacute;n del cliente y la retenci&oacute;n. En resumen, las pruebas son
                    fundamentales para el
                    &eacute;xito global de los proyectos de desarrollo de software.
                </p>
                <p>
                    Para el Pr&oacute;tocolo de pruebas del proyecto que recibe el nombre de <b>"Musicalist"</b>, se realizar&aacute;n
                    un conjunto de pruebas de acuerdo con lo solicitado para cada una de las entregas. A continuaci&oacute;n
                    se representa de manera progresiva el avance en el tema de pruebas correspondiente al proyecto de
                    Desarrollo Web desarrollado.
                </p>
            </div>
        </div>
    </div>
    <br>

    <!-- PRUEBAS -->
    <h2 class="tituloMedioB"> Pruebas</h2>
    <div class="seccion">
        <div class="">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Felis bibendum ut tristique et egestas quis ipsum. In ante metus dictum at tempor
                    commodo
                    ullamcorper a lacus. Est placerat in egestas erat imperdiet sed euismod nisi. In vitae turpis massa
                    sed
                    elementum tempus egestas sed sed. Id consectetur purus ut faucibus pulvinar elementum. Nibh cras
                    pulvinar
                    mattis nunc. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Malesuada pellentesque
                    elit
                    eget
                    gravida cum sociis natoque. Ornare lectus sit amet est placerat. Congue nisi vitae suscipit tellus
                    mauris.
                    Sit
                    amet volutpat consequat mauris nunc. Senectus et netus et malesuada fames ac turpis egestas. Sapien
                    faucibus
                    et molestie ac feugiat sed lectus. Dictum sit amet justo donec enim diam. Ullamcorper a lacus
                    vestibulum sed
                    arcu non. Molestie ac feugiat sed lectus vestibulum mattis. Augue interdum velit euismod in. Enim
                    lobortis
                    scelerisque fermentum dui faucibus in.
                </p>
                <p>
                    Tellus cras adipiscing enim eu turpis egestas pretium. Quis viverra nibh cras pulvinar mattis nunc
                    sed.
                    Senectus et netus et malesuada fames ac. Faucibus purus in massa tempor nec feugiat nisl pretium. In
                    iaculis
                    nunc sed augue. Condimentum mattis pellentesque id nibh tortor id aliquet lectus proin. Sit amet
                    nisl
                    suscipit
                    adipiscing bibendum est ultricies integer quis. Tempor id eu nisl nunc. Ut aliquam purus sit amet.
                    Ultrices
                    sagittis orci a scelerisque purus semper. Erat imperdiet sed euismod nisi porta lorem mollis
                    aliquam.
                    Lobortis
                    elementum nibh tellus molestie. Risus feugiat in ante metus dictum at tempor commodo. Erat nam at
                    lectus
                    urna
                    duis convallis convallis tellus id. Sed vulputate odio ut enim blandit volutpat maecenas volutpat.
                    Sed risus
                    pretium quam vulputate dignissim.
                </p>
                <p>
                    Arcu dui vivamus arcu felis bibendum ut tristique et. Ut tellus elementum sagittis vitae et leo duis
                    ut.
                    Pharetra vel turpis nunc eget lorem dolor sed viverra. Tellus molestie nunc non blandit massa. In
                    metus
                    vulputate eu scelerisque felis imperdiet proin. Quis risus sed vulputate odio ut enim blandit
                    volutpat.
                    Interdum varius sit amet mattis vulputate enim. Nulla facilisi nullam vehicula ipsum a arcu cursus
                    vitae
                    congue. Pharetra sit amet aliquam id. Donec adipiscing tristique risus nec feugiat. Augue ut lectus
                    arcu
                    bibendum at varius vel pharetra.
                </p>
            </div>
        </div>
    </div>
    <br>


</div>
</body>

</html>