<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pruebas</title>
    <link href="/css/arquitectura_requerimientos_despliegue.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?  family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
<!--------------------
BARRA DE NAVEGACION
----------------------->
<header class='lg_header' id='lg-header'>
    <div class="interior">
        <a class="logo" href="/wiki/inicio">
            <img alt="logo" src="/images/logo1.png">
        </a>
        <nav class="navegacion">
            <ul>
                <li><a href="/wiki/inicio">Inicio </a></li>
                <li class="submenu">
                    <a href="/wiki/acerca-de/requerimientos">Acerca del Proyecto</a>
                    <ul class="hijos">
                        <li><a href="/wiki/acerca-de/requerimientos">Requerimientos</a></li>
                        <li><a href="/wiki/acerca-de/arquitectura">Arquitectura</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="/wiki/implementacion/desarrollo">Implementacion</a>
                    <ul class="hijos">
                        <li><a href="/wiki/implementacion/desarrollo">Desarrollo</a></li>
                        <li><a href="/wiki/implementacion/pruebas">Pruebas</a></li>
                        <li><a href="/wiki/implementacion/despliegue">Despliegue</a></li>
                    </ul>
                </li>
                <li><a href="/wiki/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="cuerpo">
    <!-- PROTOCOLO DE PRUEBAS -->
    <h2 class="tituloMedioB"> Pr&oacute;tocolo de pruebas</h2>
    <div class="seccion">
        <div class="">
            <div>
                <p>
                    Las pruebas desempeñan un papel esencial en el desarrollo de software al proporcionar una serie de
                    beneficios clave. En primer lugar, ayudan a detectar errores de manera temprana, lo que evita
                    problemas costosos m&aacute;s adelante en el proyecto. Adem&aacute;s, aseguran que el software
                    cumpla con los
                    requisitos establecidos, mejoran la confiabilidad, reducen los costos a largo plazo y aumentan la
                    productividad de los desarrolladores.
                </p>
                <p>
                    Adem&aacute;s de estos aspectos t&eacute;cnicos, las pruebas tambi&eacute;n fomentan la colaboraci&oacute;n
                    dentro del equipo de
                    desarrollo, de este modo son fundamentales en pro de mejorar la
                    experiencia del usuario al garantizar la calidad y usabilidad del software, lo que a su vez influye
                    en la satisfacci&oacute;n del cliente y la retenci&oacute;n. En resumen, las pruebas son
                    fundamentales para el
                    &eacute;xito global de los proyectos de desarrollo de software.
                </p>
                <p>
                    Para el Pr&oacute;tocolo de pruebas del proyecto que recibe el nombre de <b>"Musicalist"</b>, se
                    realizar&aacute;n
                    un conjunto de pruebas de acuerdo con lo solicitado para cada una de las entregas. A continuaci&oacute;n
                    se representa de manera progresiva el avance en el tema de pruebas correspondiente al proyecto de
                    Desarrollo Web desarrollado.
                </p>
            </div>
        </div>
    </div>
    <br>

    <!-- PRUEBAS -->
    <h2 class="tituloMedioS"> Pruebas Unitarias (Primera Entrega)</h2>

    <div class="integrantes-lista">
        <div class='integrante-lista selected' id="1">
            <img src="/images/administrador.png" alt="Foto Pruebas Administrador" style="width: 300px; height: 300px;"/>
            <p>Administrador</p>
        </div>
        <div class='integrante-lista' id="2">
            <img src="/images/votante.png" alt="Foto Pruebas Votante" style="width: 300px; height: 300px;"/>
            <p>Votante</p>
        </div>
        <div class='integrante-lista' id="3">
            <img src="/images/cancion.png" alt="Foto Pruebas Canci&oacute;n" style="width: 300px; height: 300px;"/>
            <p>Canci&oacute;n</p>
        </div>
        <div class='integrante-lista' id="4">
            <img src="/images/genero.png" alt="Foto Pruebas G&eacute;nero" style="width: 300px; height: 300px;"/>
            <p>G&eacute;nero</p>
        </div>
    </div>

    <div class="integrante selected" id="1-detalle">
        <h3 class='tituloMedioS'> Pruebas Unitarias - Clase Administrador </h3>

        <div class="seccion">
            <div class="imagenTexto">


                <img class='imagen, imagenCenter' src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez"/>
            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">
                <img class='imagen, imagenCenter' src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez"/>


            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">


                <img class='imagen, imagenCenter' src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez"/>
            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">
                <img class='imagen, imagenCenter' src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez"/>


            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">


                <img class='imagen, imagenCenter' src="/images/juanfraPP.jpeg" alt="Foto Juan Ramirez"/>
            </div>
        </div>


    </div>

</div>
</body>

</html>