<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pruebas</title>
    <link href="/css/arquitectura_requerimientos_despliegue.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?  family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
<!--------------------
BARRA DE NAVEGACION
----------------------->
<header class='lg_header' id='lg-header'>
    <div class="interior">
        <a class="logo" href="/wiki/inicio">
            <img alt="logo" src="/images/logo1.png">
        </a>
        <nav class="navegacion">
            <ul>
                <li><a href="/wiki/inicio">Inicio </a></li>
                <li class="submenu">
                    <a href="/wiki/acerca-de/requerimientos">Acerca del Proyecto</a>
                    <ul class="hijos">
                        <li><a href="/wiki/acerca-de/requerimientos">Requerimientos</a></li>
                        <li><a href="/wiki/acerca-de/arquitectura">Arquitectura</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="/wiki/implementacion/desarrollo">Implementacion</a>
                    <ul class="hijos">
                        <li><a href="/wiki/implementacion/desarrollo">Desarrollo</a></li>
                        <li><a href="/wiki/implementacion/pruebas">Pruebas</a></li>
                        <li><a href="/wiki/implementacion/despliegue">Despliegue</a></li>
                    </ul>
                </li>
                <li><a href="/wiki/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="cuerpo">
    <!-- PROTOCOLO DE PRUEBAS -->
    <h2 class="tituloMedioB"> Pr&oacute;tocolo de pruebas</h2>
    <div class="seccion">
        <div class="">
            <div>
                <p>
                    Las pruebas desempeñan un papel esencial en el desarrollo de software al proporcionar una serie de
                    beneficios clave. En primer lugar, ayudan a detectar errores de manera temprana, lo que evita
                    problemas costosos m&aacute;s adelante en el proyecto. Adem&aacute;s, aseguran que el software
                    cumpla con los
                    requisitos establecidos, mejoran la confiabilidad, reducen los costos a largo plazo y aumentan la
                    productividad de los desarrolladores.
                </p>
                <p>
                    Adem&aacute;s de estos aspectos t&eacute;cnicos, las pruebas tambi&eacute;n fomentan la colaboraci&oacute;n
                    dentro del equipo de
                    desarrollo, de este modo son fundamentales en pro de mejorar la
                    experiencia del usuario al garantizar la calidad y usabilidad del software, lo que a su vez influye
                    en la satisfacci&oacute;n del cliente y la retenci&oacute;n. En resumen, las pruebas son
                    fundamentales para el
                    &eacute;xito global de los proyectos de desarrollo de software.
                </p>
                <p>
                    Para el Pr&oacute;tocolo de pruebas del proyecto que recibe el nombre de <b>"Musicalist"</b>, se
                    realizar&aacute;n
                    un conjunto de pruebas de acuerdo con lo solicitado para cada una de las entregas. A continuaci&oacute;n
                    se representa de manera progresiva el avance en el tema de pruebas correspondiente al proyecto de
                    Desarrollo Web desarrollado.
                </p>
            </div>
        </div>
    </div>
    <br>

    <!-- PRUEBAS -->
    <h2 class="tituloMedioS"> Pruebas Unitarias (Primera Entrega)</h2>

    <div class="integrantes-lista">
        <div class='integrante-lista selected' id="1">
            <img src="/images/administrador.png" alt="Foto Pruebas Administrador" style="width: 300px; height: 300px;"/>
            <p>Administrador</p>
        </div>
        <div class='integrante-lista' id="2">
            <img src="/images/votante.png" alt="Foto Pruebas Votante" style="width: 300px; height: 300px;"/>
            <p>Votante</p>
        </div>
        <div class='integrante-lista' id="3">
            <img src="/images/cancion.png" alt="Foto Pruebas Canci&oacute;n" style="width: 300px; height: 300px;"/>
            <p>Canci&oacute;n</p>
        </div>
        <div class='integrante-lista' id="4">
            <img src="/images/genero.png" alt="Foto Pruebas G&eacute;nero" style="width: 300px; height: 300px;"/>
            <p>G&eacute;nero</p>
        </div>
    </div>

    <div class="integrante selected" id="1-detalle">
        <h3 class='tituloMedioS'> Pruebas Unitarias - Clase Administrador </h3>

        <div class="seccion">
            <div class="imagenTexto">
                <div class="tableCenter" style="width: 85%;">
                    <h5 class="tituloLateralDer_sub">Prueba Unitaria - Crear Administrador</h5>
                    <table>
                        <tr>
                            <th>Aspecto:</th>
                            <th>Descripci&oacute;n del Aspecto:</th>
                        </tr>
                        <tr>
                            <td class="tdH">Identificador de la Prueba</td>
                            <td>
                                ADM-01
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">T&iacute;tulo</td>
                            <td>
                                Crear Administrador
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Descripci&oacute;n</td>
                            <td>
                                Prueba unitaria que verifica la creaci&oacute;n &eacute;xitosa de un administrador en el
                                sistema de MusicaList.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Diseñada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Ejecutada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Dependencias de las pruebas</td>
                            <td>
                                <ul>
                                    <li>Utilizaci&oacute;n del `administradorRepository` de JPA.</li>
                                    <li>Empleo de Spring Boot para gesti&oacute;n y configuraci&oacute;n.</li>
                                    <li>Uso de anotaciones de Spring como `@Autowired`.</li>
                                    <li>Configuraci&oacute;n de propiedades de la base de datos con Spring Boot.</li>
                                    <li>Ejecuci&oacute;n en un contexto de prueba de Spring Boot.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Esperados/td>
                            <td>
                                Funcionamiento de la Prueba &eacute;xitoso, "Test passed". Se espera que el assert tenga
                                un resultado True al ingresar el nuevo administrador "unpipol".
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Obtenidos</td>
                            <td>
                                Assert (True)
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">¿Se cumpli&oacute; el objetivo?</td>
                            <td>
                                Si, se cumpli&oacute;.
                            </td>
                        </tr>
                    </table>
                </div>

                <img class='imagen, imagenCenter, classYellowBorder' src="/images/imgPruebas/admin-crear.PNG"
                     alt="Foto Prueba Admin - Crear"/>
            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">
                <div class="tableCenter" style="width: 85%;">
                    <h5 class="tituloLateralDer_sub">Prueba Unitaria - Encontrar Administrador por ID</h5>
                    <table>
                        <tr>
                            <th>Aspecto:</th>
                            <th>Descripci&oacute;n del Aspecto:</th>
                        </tr>
                        <tr>
                            <td class="tdH">Identificador de la Prueba</td>
                            <td>
                                ADM-02
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">T&iacute;tulo</td>
                            <td>
                                Encontrar Administrador por ID
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Descripci&oacute;n</td>
                            <td>
                                Prueba unitaria que busca el administrador dentro del repositorio de administradores de
                                acuerdo con el id dado, esto, al interior del
                                sistema de MusicaList.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Diseñada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Ejecutada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Dependencias de las pruebas</td>
                            <td>
                                <ul>
                                    <li>Utilizaci&oacute;n del `administradorRepository` de JPA.</li>
                                    <li>Empleo de Spring Boot para gesti&oacute;n y configuraci&oacute;n.</li>
                                    <li>Uso de anotaciones de Spring como `@Autowired`.</li>
                                    <li>Configuraci&oacute;n de propiedades de la base de datos con Spring Boot.</li>
                                    <li>Ejecuci&oacute;n en un contexto de prueba de Spring Boot.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Esperados/td>
                            <td>
                                Funcionamiento de la Prueba &eacute;xitoso, "Test passed". Se espera que el assert tenga
                                un resultado True al buscar el usuario con id 1; asimismo, se debe de mostrar por
                                pantalla el nombre del mismo.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Obtenidos</td>
                            <td>
                                Assert (True)
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">¿Se cumpli&oacute; el objetivo?</td>
                            <td>
                                Si, se cumpli&oacute;.
                            </td>
                        </tr>
                    </table>
                </div>

                <img class='imagen, imagenCenter, classYellowBorder' src="/images/imgPruebas/admin-find-by-id.PNG"
                     alt="Foto Prueba Admin - FindById"/>
            </div>
        </div>


        <div class="seccion">
            <div class="imagenTexto">
                <div class="tableCenter">
                    <h5 class="tituloLateralDer_sub">Prueba Unitaria - Encontrar Administrador por Nombre</h5>
                    <table>
                        <tr>
                            <th>Aspecto:</th>
                            <th>Descripci&oacute;n del Aspecto:</th>
                        </tr>
                        <tr>
                            <td class="tdH">Identificador de la Prueba</td>
                            <td>
                                ADM-03
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">T&iacute;tulo</td>
                            <td>
                                Encontrar Administrador por Nombre
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Descripci&oacute;n</td>
                            <td>
                                Prueba unitaria que busca el administrador dentro del repositorio de administradores de
                                acuerdo con el nombre dado, esto, al interior del
                                sistema de MusicaList.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Diseñada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Ejecutada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Dependencias de las pruebas</td>
                            <td>
                                <ul>
                                    <li>Utilizaci&oacute;n del `administradorRepository` de JPA.</li>
                                    <li>Empleo de Spring Boot para gesti&oacute;n y configuraci&oacute;n.</li>
                                    <li>Uso de anotaciones de Spring como `@Autowired`.</li>
                                    <li>Configuraci&oacute;n de propiedades de la base de datos con Spring Boot.</li>
                                    <li>Ejecuci&oacute;n en un contexto de prueba de Spring Boot.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Esperados/td>
                            <td>
                                Funcionamiento de la Prueba &eacute;xitoso, "Test passed". Se espera que el assert tenga
                                un resultado True al buscar el usuario con nombre "estebans441"; asimismo, se debe de
                                mostrar por
                                pantalla el nombre del mismo.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Obtenidos</td>
                            <td>
                                Assert (True)
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">¿Se cumpli&oacute; el objetivo?</td>
                            <td>
                                Si, se cumpli&oacute;.
                            </td>
                        </tr>
                    </table>
                </div>

                <img class='imagen, imagenCenter, classYellowBorder' src="/images/imgPruebas/admin-find-by-nombre.PNG"
                     alt="Foto Prueba Admin - FindByNombre"/>
            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">
                <img class='imagen, imagenCenter, classYellowBorder' src="/images/imgPruebas/admin-find-all.PNG"
                     alt="Foto Prueba Admin - FindAll"/>

                <div class="tableCenter">
                    <h5 class="tituloLateralDer_sub">Prueba Unitaria - Encontrar Todos los Administradores </h5>
                    <table>
                        <tr>
                            <th>Nombre Atributo:</th>
                            <th>Descripci&oacute;n del Atributo:</th>
                        </tr>
                        <tr>
                            <td class="tdH">Identificador de la Prueba</td>
                            <td>
                                ADM-04
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">T&iacute;tulo</td>
                            <td>
                                Encontrar todos los Administradores del sistema.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Descripci&oacute;n</td>
                            <td>
                                Prueba unitaria que busca y recopila en una lista todos los administradores que se
                                encuentran en la base de datos del
                                sistema de MusicaList.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Diseñada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Ejecutada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Dependencias de las pruebas</td>
                            <td>
                                <ul>
                                    <li>Utilizaci&oacute;n del `administradorRepository` de JPA.</li>
                                    <li>Empleo de Spring Boot para gesti&oacute;n y configuraci&oacute;n.</li>
                                    <li>Uso de anotaciones de Spring como `@Autowired`.</li>
                                    <li>Configuraci&oacute;n de propiedades de la base de datos con Spring Boot.</li>
                                    <li>Ejecuci&oacute;n en un contexto de prueba de Spring Boot.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Esperados/td>
                            <td>
                                Funcionamiento de la Prueba &eacute;xitoso, "Test passed". Se espera que el assert tenga
                                un resultado True al buscar todos los administradores provenientes de
                                administradorRepository, se debe de mostrar por
                                pantalla el nombre de cada uno de los administradores del sistema.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Obtenidos</td>
                            <td>
                                Assert (True)
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">¿Se cumpli&oacute; el objetivo?</td>
                            <td>
                                Si, se cumpli&oacute;.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="seccion">
            <div class="imagenTexto">
                <div class="tableCenter">
                    <h5 class="tituloLateralDer_sub">Prueba Unitaria - Encontrar Administrador por ID</h5>
                    <table>
                        <tr>
                            <th>Aspecto:</th>
                            <th>Descripci&oacute;n del Aspecto:</th>
                        </tr>
                        <tr>
                            <td class="tdH">Identificador de la Prueba</td>
                            <td>
                                ADM-02
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">T&iacute;tulo</td>
                            <td>
                                Encontrar Administrador por ID
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Descripci&oacute;n</td>
                            <td>
                                Prueba unitaria que busca el administrador dentro del repositorio de administradores de
                                acuerdo con el id dado, esto, al interior del
                                sistema de MusicaList.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Diseñada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Ejecutada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Dependencias de las pruebas</td>
                            <td>
                                <ul>
                                    <li>Utilizaci&oacute;n del `administradorRepository` de JPA.</li>
                                    <li>Empleo de Spring Boot para gesti&oacute;n y configuraci&oacute;n.</li>
                                    <li>Uso de anotaciones de Spring como `@Autowired`.</li>
                                    <li>Configuraci&oacute;n de propiedades de la base de datos con Spring Boot.</li>
                                    <li>Ejecuci&oacute;n en un contexto de prueba de Spring Boot.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Esperados/td>
                            <td>
                                Funcionamiento de la Prueba &eacute;xitoso, "Test passed". Se espera que el assert tenga
                                un resultado True al buscar el usuario con id 1; asimismo, se debe de mostrar por
                                pantalla el nombre del mismo.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Obtenidos</td>
                            <td>
                                Assert (True)
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">¿Se cumpli&oacute; el objetivo?</td>
                            <td>
                                Si, se cumpli&oacute;.
                            </td>
                        </tr>
                    </table>
                </div>

                <img class='imagen, imagenCenter, classYellowBorder' src="/images/imgPruebas/admin-find-by-id.PNG"
                     alt="Foto Prueba Admin - FindById"/>

            </div>
        </div>


        <div class="seccion">
            <div class="imagenTexto">
                <img class='imagen, imagenCenter, classYellowBorder' src="/images/imgPruebas/admin-find-all.PNG"
                     alt="Foto Prueba Admin - FindAll"/>

                <div class="tableCenter">
                    <h5 class="tituloLateralDer_sub">Prueba Unitaria - Eliminar Administrador </h5>
                    <table>
                        <tr>
                            <th>Nombre Atributo:</th>
                            <th>Descripci&oacute;n del Atributo:</th>
                        </tr>
                        <tr>
                            <td class="tdH">Identificador de la Prueba</td>
                            <td>
                                ADM-06
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">T&iacute;tulo</td>
                            <td>
                                Eliminar Administrador por ID.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Descripci&oacute;n</td>
                            <td>
                                Prueba unitaria que elimina un registro del repositorio de administradores, el cu&aacute;l
                                realiza la acción al interior de la base de datos del sistema de MusicaList simult&aacute;neamente.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Diseñada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Ejecutada por</td>
                            <td>
                                Juan Francisco Ram&iacute;rez Escobar
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Dependencias de las pruebas</td>
                            <td>
                                <ul>
                                    <li>Utilizaci&oacute;n del `administradorRepository` de JPA.</li>
                                    <li>Empleo de Spring Boot para gesti&oacute;n y configuraci&oacute;n.</li>
                                    <li>Uso de anotaciones de Spring como `@Autowired`.</li>
                                    <li>Configuraci&oacute;n de propiedades de la base de datos con Spring Boot.</li>
                                    <li>Ejecuci&oacute;n en un contexto de prueba de Spring Boot.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Esperados/td>
                            <td>
                                Funcionamiento de la Prueba &eacute;xitoso, "Test passed". Se espera que el assert tenga
                                un resultado True al eliminar el administrador que se encuentra identificado con el id
                                2.
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">Resultados Obtenidos</td>
                            <td>
                                Assert (True)
                            </td>
                        </tr>
                        <tr>
                            <td class="tdH">¿Se cumpli&oacute; el objetivo?</td>
                            <td>
                                Si, se cumpli&oacute;.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<script src='/js/scriptCarrusel.js'></script>
</body>

</html>