<body>
<div class="form-box">
  <form class="form">
    <span class="title">Registrar cuenta</span>
    <span class="subtitle">Registrate en el sistema de MusicaList</span>
    <div class="form-container">
      <input type="text" class="input" placeholder="Nombre de usuario">
      <input type="email" class="input" placeholder="Correo">
      <input type="password" class="input" placeholder="Contraseña">
    </div>
    <div class="buttons">
      <button>Administrador</button>
      <button>Votante</button>
    </div>
  </form>
  <div class="form-section">
    <p>¿Ya tienes una cuenta?... <a href="/login">Inicia sesi&oacute;n</a></p>
  </div>
</div>
</body>
