<app-vot-search></app-vot-search>

<p class="section-title">
  Generos musicales
</p>
<hr>
<div class="gridElements">
  <div *ngFor="let genero of generosMusicales">
    <div style="padding: 15px">
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
      <div class="card">
        <div [routerLink]="['/vot/genre',genero.idGenero]" class="card-img">
          <img src="https://static.vecteezy.com/system/resources/previews/001/208/094/original/music-cd-png.png">
        </div>
        <div class="card-info">
          <p class="text-title">{{genero.nombreGenero}} </p>
          <p class="text-body">{{genero.descripcion}}</p>
        </div>
        <div class="card-footer">
          <span class="text-title">{{genero.numCanciones + " Canciones"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
