<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> MusicaList </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Nunito&family=Roboto+Slab&display=swap"
        rel="stylesheet">
</head>

<header>
  <p class="title">MusicaList</p>
  <p class="wiki">wiki</p>
</header>
<body>
<router-outlet></router-outlet>
</body>
</html>
