<body>
<div class="form-box">
  <form class="form">
    <span class="title">Iniciar sesi&oacute;n</span>
    <span class="subtitle">Inicia sesi&oacute;n con correo y contraseña</span>
    <div class="form-container">
      <input type="email" class="input" placeholder="Correo">
      <input type="password" class="input" placeholder="Contraseña">
    </div>
    <button>Iniciar sesi&oacute;n</button>
  </form>
  <div class="form-section">
    <p>¿No tienes una cuenta?... <a href="/signup">Registrate</a></p>
  </div>
</div>
</body>
